
body{
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 40px;
    background-color: cadetblue;
}

.navigation{
display: flex; 
flex-direction: row-reverse;
justify-content: flex-end; 
position: relative;

}

.portfolio{
    display: flex; 
flex-direction: row-reverse;
justify-content: flex-end; 
position: relative;

}